<a href="https://colab.research.google.com/github/luisfernandorutti43-wq/EJERCIOS-PROPUESTOS-2/blob/main/EJRECICOS%20PROPUESTOS%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EJERCICIO 1

In [1]:
import pandas as pd

inicio = int(input("Ingrese el año de inicio: "))
fin = int(input("Ingrese el año de fin: "))

ventas = {}
for año in range(inicio, fin + 1):
    venta = float(input(f"Ventas del año {año}: "))
    ventas[año] = venta

serie_ventas = pd.Series(ventas)
print("\nVentas originales:")
print(serie_ventas)

serie_descuento = serie_ventas * 0.9
print("\nVentas con 10% de descuento:")
print(serie_descuento)

Ingrese el año de inicio: 2024
Ingrese el año de fin: 2026
Ventas del año 2024: 10
Ventas del año 2025: 50
Ventas del año 2026: 30

Ventas originales:
2024    10.0
2025    50.0
2026    30.0
dtype: float64

Ventas con 10% de descuento:
2024     9.0
2025    45.0
2026    27.0
dtype: float64

EJERCICIO 2

In [2]:
import pandas as pd

def resumen_notas(dic_notas):
    serie = pd.Series(dic_notas)
    resumen = pd.Series({
        'Mínima': serie.min(),
        'Máxima': serie.max(),
        'Media': serie.mean(),
        'Desviación Típica': serie.std()
    })
    return resumen

# Ejemplo:
notas = {'Ana': 15, 'Luis': 12, 'Pedro': 18, 'Marta': 10}
print(resumen_notas(notas))

Mínima               10.00
Máxima               18.00
Media                13.75
Desviación Típica     3.50
dtype: float64

EJERCICIO 3

In [3]:
import pandas as pd

def notas_aprobadas(dic_notas):
    serie = pd.Series(dic_notas)
    aprobados = serie[serie >= 11].sort_values(ascending=False)
    return aprobados

# Ejemplo:
notas = {'Ana': 15, 'Luis': 12, 'Pedro': 8, 'Marta': 10}
print(notas_aprobadas(notas))

Ana     15
Luis    12
dtype: int64

EJERCICIO 4

In [4]:
import pandas as pd

datos = {
    'Mes': ['Enero', 'Febrero', 'Marzo', 'Abril'],
    'Ventas': [30500, 35600, 28300, 33900],
    'Gastos': [22000, 23400, 18100, 20700]
}

df = pd.DataFrame(datos)
print(df)

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700

EJERCICIO 5

In [ ]:
def balance_total(df, meses):
    df_filtrado = df[df['Mes'].isin(meses)]
    df_filtrado['Balance'] = df_filtrado['Ventas'] - df_filtrado['Gastos']
    total_balance = df_filtrado['Balance'].sum()
    return total_balance

# Ejemplo de uso:
meses_consultar = ['Enero', 'Marzo']
total = balance_total(df, meses_consultar)
print(f"Balance total en {meses_consultar}: {total}")

EJERCICIO 6

In [5]:
import pandas as pd

def resumen_cotizaciones():
    # Simulando cotizacion.csv con un diccionario
    datos = {
        'Nombre': ['EmpresaA', 'EmpresaB', 'EmpresaC'],
        'Final': [10.5, 15.2, 8.7],
        'Máximo': [11.0, 16.0, 9.0],
        'Mínimo': [10.0, 14.5, 8.5],
        'Volumen': [1500000, 2300000, 1250000],
        'Efectivo': [15750, 34960, 10875]
    }

    # Crear DataFrame
    df = pd.DataFrame(datos)
    print("DataFrame original:\n", df)

    # Cálculos de resumen (mínimo, máximo, media)
    resumen = pd.DataFrame({
        'Mínimo': df[['Final', 'Máximo', 'Mínimo', 'Volumen', 'Efectivo']].min(),
        'Máximo': df[['Final', 'Máximo', 'Mínimo', 'Volumen', 'Efectivo']].max(),
        'Media': df[['Final', 'Máximo', 'Mínimo', 'Volumen', 'Efectivo']].mean()
    })

    return resumen

# Mostrar resumen
print("\nResumen de cotizaciones:")
print(resumen_cotizaciones())

Resumen de cotizaciones:
DataFrame original:
      Nombre  Final  Máximo  Mínimo  Volumen  Efectivo
0  EmpresaA   10.5    11.0    10.0  1500000     15750
1  EmpresaB   15.2    16.0    14.5  2300000     34960
2  EmpresaC    8.7     9.0     8.5  1250000     10875
             Mínimo     Máximo         Media
Final           8.7       15.2  1.146667e+01
Máximo          9.0       16.0  1.200000e+01
Mínimo          8.5       14.5  1.100000e+01
Volumen   1250000.0  2300000.0  1.683333e+06
Efectivo    10875.0    34960.0  2.052833e+04

EJERCICIO 7

In [8]:
from google.colab import files
uploaded = files.upload()

Saving titanic.csv to titanic.csv

In [9]:
import pandas as pd
df = pd.read_csv('titanic.csv')

In [10]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
# Trabajaremos con el DataFrame que ya cargaste: df

# 1. Dimensiones del DataFrame
print("Dimensiones (filas, columnas):", df.shape)

# 2. Número total de datos
print("Número total de datos:", df.size)

# 3. Nombres de columnas
print("\nColumnas:")
print(df.columns.tolist())

# 4. Nombres de filas (índices)
print("\nÍndices:")
print(df.index.tolist())

# 5. Tipos de datos de las columnas
print("\nTipos de datos:")
print(df.dtypes)

# 6. Primeras 10 filas
print("\nPrimeras 10 filas:")
print(df.head(10))

# 7. Últimas 10 filas
print("\nÚltimas 10 filas:")
print(df.tail(10))

# 8. Datos del pasajero con identificador 148 (posición 147 porque index empieza en 0)
print("\nDatos del pasajero con ID 148:")
print(df.loc[df['PassengerId'] == 148])

# 9. Filas pares del DataFrame
print("\nFilas pares del DataFrame:")
print(df.iloc[::2])

# 10. Nombres de personas en primera clase ordenadas alfabéticamente
primera_clase = df[df['Pclass'] == 1]['Name'].sort_values()
print("\nNombres de pasajeros en primera clase ordenados:")
print(primera_clase)

# 11. Porcentaje de personas que sobrevivieron y murieron
porcentaje_supervivientes = df['Survived'].value_counts(normalize=True) * 100
print("\nPorcentaje de sobrevivientes y fallecidos:")
print(porcentaje_supervivientes)

# 12. Porcentaje de personas que sobrevivieron en cada clase
porcentaje_por_clase = df.groupby('Pclass')['Survived'].mean() * 100
print("\nPorcentaje de supervivencia por clase:")
print(porcentaje_por_clase)

# 13. Eliminar pasajeros con edad desconocida
df_sin_na = df.dropna(subset=['Age'])
print("\nDataFrame sin pasajeros con edad desconocida. Dimensiones:", df_sin_na.shape)

# 14. Edad media de las mujeres por clase
media_edad_mujeres = df[df['Sex'] == 'female'].groupby('Pclass')['Age'].mean()
print("\nEdad media de las mujeres por clase:")
print(media_edad_mujeres)

# 15. Añadir columna booleana 'MenorEdad' (True si < 18)
df['MenorEdad'] = df['Age'] < 18
print("\nColumna 'MenorEdad' añadida.")

# 16. Porcentaje de menores y mayores de edad que sobrevivieron en cada clase
resultado = df.groupby(['Pclass', 'MenorEdad'])['Survived'].mean() * 100
print("\nPorcentaje de supervivencia por clase y edad (menores/mayores):")
print(resultado)

Dimensiones (filas, columnas): (891, 12)
Número total de datos: 10692

Columnas:
['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

Índices:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890]

Tipos de datos:
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

Primeras 10 filas:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

Últimas 10 filas:
     PassengerId  Survived  Pclass                                      Name  \
881          882         0       3                        Markun, Mr. Johann
882          883         0       3              Dahlberg, Miss. Gerda Ulrika
883          884         0       2             Banfield, Mr. Frederick James
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
881    male  33.0      0      0            349257   7.8958   NaN        S
882  female  22.0      0      0              7552  10.5167   NaN        S
883    male  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884    male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
885  female  39.0      0      5            382652  29.1250   NaN        Q
886    male  27.0      0      0            211536  13.0000   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
889    male  26.0      0      0            111369  30.0000  C148        C
890    male  32.0      0      0            370376   7.7500   NaN        Q

Datos del pasajero con ID 148:
     PassengerId  Survived  Pclass                              Name     Sex  \
147          148         0       3  Ford, Miss. Robina Maggie "Ruby"  female

     Age  SibSp  Parch      Ticket    Fare Cabin Embarked
147  9.0      2      2  W./C. 6608  34.375   NaN        S

Filas pares del DataFrame:
     PassengerId  Survived  Pclass  \
0              1         0       3
2              3         1       3
4              5         0       3
6              7         0       1
8              9         1       3
..           ...       ...     ...
882          883         0       3
884          885         0       3
886          887         0       2
888          889         0       3
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
..                                                 ...     ...   ...    ...
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
2        0  STON/O2. 3101282   7.9250   NaN        S
4        0            373450   8.0500   NaN        S
6        0             17463  51.8625   E46        S
8        2            347742  11.1333   NaN        S
..     ...               ...      ...   ...      ...
882      0              7552  10.5167   NaN        S
884      0   SOTON/OQ 392076   7.0500   NaN        S
886      0            211536  13.0000   NaN        S
888      2        W./C. 6607  23.4500   NaN        S
890      0            370376   7.7500   NaN        Q

[446 rows x 12 columns]

Nombres de pasajeros en primera clase ordenados:
730                      Allen, Miss. Elisabeth Walton
305                     Allison, Master. Hudson Trevor
297                       Allison, Miss. Helen Loraine
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
460                                Anderson, Mr. Harry
                            ...
155                        Williams, Mr. Charles Duane
351             Williams-Lambert, Mr. Fletcher Fellows
55                                   Woolner, Mr. Hugh
555                                 Wright, Mr. George
325                           Young, Miss. Marie Grice
Name: Name, Length: 216, dtype: object

Porcentaje de sobrevivientes y fallecidos:
Survived
0    61.616162
1    38.383838
Name: proportion, dtype: float64

Porcentaje de supervivencia por clase:
Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

DataFrame sin pasajeros con edad desconocida. Dimensiones: (714, 12)

Edad media de las mujeres por clase:
Pclass
1    34.611765
2    28.722973
3    21.750000
Name: Age, dtype: float64

Columna 'MenorEdad' añadida.

Porcentaje de supervivencia por clase y edad (menores/mayores):
Pclass  MenorEdad
1       False        61.274510
        True         91.666667
2       False        40.993789
        True         91.304348
3       False        21.791768
        True         37.179487
Name: Survived, dtype: float64

EJERCICIO 8

In [7]:
import pandas as pd
import numpy as np
from datetime import datetime

# ----------------------------
# Simular datos como si fueran de los archivos CSV
# ----------------------------
data = {
    'ESTACION': [1, 1, 2, 2, 3, 3],
    'MAGNITUD': [10, 20, 10, 20, 10, 20],
    'ANO': [2016, 2016, 2017, 2017, 2018, 2019],
    'MES': [1, 1, 2, 2, 3, 4],
    'D01': [50, 80, 55, 70, 60, 75],
    'D02': [45, 85, 50, 75, 65, 80]
}

df = pd.DataFrame(data)

# ----------------------------
# Filtrar columnas necesarias
# ----------------------------
columnas_dias = [col for col in df.columns if col.startswith('D')]
df_filtrado = df[['ESTACION', 'MAGNITUD', 'ANO', 'MES'] + columnas_dias]

# ----------------------------
# Reestructurar (melt) para pasar columnas D01, D02... a filas
# ----------------------------
df_melted = df_filtrado.melt(id_vars=['ESTACION', 'MAGNITUD', 'ANO', 'MES'],
                             var_name='DIA', value_name='VALOR')

# ----------------------------
# Crear columna FECHA
# ----------------------------
df_melted['DIA'] = df_melted['DIA'].str.extract('(\d+)').astype(int)
df_melted['FECHA'] = pd.to_datetime(dict(year=df_melted['ANO'],
                                         month=df_melted['MES'],
                                         day=df_melted['DIA']), errors='coerce')

# ----------------------------
# Eliminar fechas no válidas (NaT)
# ----------------------------
df_melted = df_melted[~df_melted['FECHA'].isna()]

# ----------------------------
# Ordenar DataFrame
# ----------------------------
df_melted = df_melted.sort_values(by=['ESTACION', 'MAGNITUD', 'FECHA'])

# ----------------------------
# Mostrar Estaciones y Contaminantes
# ----------------------------
print("\nEstaciones disponibles:", df_melted['ESTACION'].unique())
print("Contaminantes disponibles:", df_melted['MAGNITUD'].unique())

# ----------------------------
# Función: Filtrar emisiones por estación, contaminante y rango de fechas
# ----------------------------
def emisiones_filtradas(estacion, contaminante, fecha_inicio, fecha_fin):
    mask = (
        (df_melted['ESTACION'] == estacion) &
        (df_melted['MAGNITUD'] == contaminante) &
        (df_melted['FECHA'] >= pd.to_datetime(fecha_inicio)) &
        (df_melted['FECHA'] <= pd.to_datetime(fecha_fin))
    )
    return df_melted.loc[mask, ['FECHA', 'VALOR']]

# ----------------------------
# Resumen Descriptivo General por Contaminante
# ----------------------------
print("\nResumen descriptivo por Contaminante:")
print(df_melted.groupby('MAGNITUD')['VALOR'].describe())

# ----------------------------
# Resumen Descriptivo por Contaminante y Estación (Distritos)
# ----------------------------
print("\nResumen descriptivo por Contaminante y Estación:")
print(df_melted.groupby(['ESTACION', 'MAGNITUD'])['VALOR'].describe())

# ----------------------------
# Función: Resumen descriptivo de emisiones por estación y contaminante
# ----------------------------
def resumen_estacion_contaminante(estacion, contaminante):
    mask = (df_melted['ESTACION'] == estacion) & (df_melted['MAGNITUD'] == contaminante)
    return df_melted.loc[mask, 'VALOR'].describe()

# ----------------------------
# Función: Emisiones medias mensuales de un contaminante en un año
# ----------------------------
def emisiones_media_mensual(contaminante, año):
    mask = (df_melted['MAGNITUD'] == contaminante) & (df_melted['ANO'] == año)
    return df_melted.loc[mask].groupby('MES')['VALOR'].mean()

# ----------------------------
# Función: Medias mensuales de todos los contaminantes de una estación
# ----------------------------
def medias_mensuales_estacion(estacion):
    mask = (df_melted['ESTACION'] == estacion)
    return df_melted.loc[mask].groupby(['MAGNITUD', 'MES'])['VALOR'].mean().unstack()

# ----------------------------
# Ejemplos de uso:
# ----------------------------

print("\nEmisiones filtradas estación 1, contaminante 10, fechas 2016-01-01 a 2016-01-31:")
print(emisiones_filtradas(1, 10, '2016-01-01', '2016-01-31'))

print("\nResumen de emisiones estación 2, contaminante 20:")
print(resumen_estacion_contaminante(2, 20))

print("\nEmisiones medias mensuales del contaminante 10 en el año 2016:")
print(emisiones_media_mensual(10, 2016))

print("\nMedias mensuales de contaminantes en estación 1:")
print(medias_mensuales_estacion(1))

Estaciones disponibles: [1 2 3]
Contaminantes disponibles: [10 20]

Resumen descriptivo por Contaminante:
          count       mean       std   min   25%   50%    75%   max
MAGNITUD
10          6.0  54.166667  7.359801  45.0  50.0  52.5  58.75  65.0
20          6.0  77.500000  5.244044  70.0  75.0  77.5  80.00  85.0

Resumen descriptivo por Contaminante y Estación:
                   count  mean       std   min    25%   50%    75%   max
ESTACION MAGNITUD
1        10          2.0  47.5  3.535534  45.0  46.25  47.5  48.75  50.0
         20          2.0  82.5  3.535534  80.0  81.25  82.5  83.75  85.0
2        10          2.0  52.5  3.535534  50.0  51.25  52.5  53.75  55.0
         20          2.0  72.5  3.535534  70.0  71.25  72.5  73.75  75.0
3        10          2.0  62.5  3.535534  60.0  61.25  62.5  63.75  65.0
         20          2.0  77.5  3.535534  75.0  76.25  77.5  78.75  80.0

Emisiones filtradas estación 1, contaminante 10, fechas 2016-01-01 a 2016-01-31:
       FECHA  VALOR
0 2016-01-01     50
6 2016-01-02     45

Resumen de emisiones estación 2, contaminante 20:
count     2.000000
mean     72.500000
std       3.535534
min      70.000000
25%      71.250000
50%      72.500000
75%      73.750000
max      75.000000
Name: VALOR, dtype: float64

Emisiones medias mensuales del contaminante 10 en el año 2016:
MES
1    47.5
Name: VALOR, dtype: float64

Medias mensuales de contaminantes en estación 1:
MES          1
MAGNITUD
10        47.5
20        82.5